
        body {
            font-family: 'Poppins', sans-serif;
            padding: 0;
            margin: 0;
        }

        h2 {

            width: 88%;
            margin: auto;
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
            padding-top: 20px;
        }

        form {
            padding: 40px 20px;
            margin: auto;

            width: 90%;

        }

        .form-label {
            font-family: 'Poppins', sans-serif;
        }

        form .btn-primary {
            background-color: #FF6F00;
            color: #fff;
            border: none;
            padding: 10px 50px;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            margin-top: 10px;
            font-family: 'Poppins', sans-serif;
            transition: background 0.3s;

        }


        form .btn-primary:hover {
            background-color: #e65c00;
        }


        #selectores-colores input {
            cursor: pointer;
            width: 40px;
            height: 40px;
            padding: 0;

        }

        #selectores-colores {
            cursor: pointer;
            width: auto;
        }

        .form-control {

            text-transform: capitalize;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
            box-shadow: none !important;
        }

        .volver-dashboard {
            margin-bottom: 20px;
            text-align: left;
            width: 88%;
            margin: 40px auto;
        }

        .volver-dashboard a {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: #000;
            font-family: 'Poppins', sans-serif;
        }

        .volver-dashboard svg {
            width: 24px;
            height: 24px;
        }
 